<html>

<head>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
	<title>About Us</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>About <small>Learn about us!</small></h1>
        </div>
        <div class="panel panel-default margin-bottom-override">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">Created by: Rob Stewart</div>
            <div class="panel-body">University: Edinburgh Napier University</div>
            <div class="panel-body">Module: Advanced Web Technologies</div>
            <div class="panel-body">Last Modified: 01/11/2015</div>
        </div>
        <a class="btn btn-default btn btn-primary width-100" type="submit" id="return" value="returnHome" href="{{ url_for('login') }}">Return Home</a>
    </div>
</body>

</html>