<html>

<head>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<title>Change Password</title>
</head>

<body>
        {% include 'navbar.html' %}
		<div class="container">
        <div class="page-header">
            <h1>Account</h1>
        </div>

        <div class="panel panel-default margin-bottom-override">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">Username: {{username}}</div>
            <div class="panel-body">Joined: {{joined}}</div>
        </div>
        <a class="btn btn-default btn btn-primary width-100" type="submit" id="return" value="returnHome" href="{{ url_for('login') }}">Return Home</a>
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/javascript.js"></script>

</html>