<html>

<head>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Album: {{title}}</title>
</head>

<body class="body">
    {% include 'navbar.html' %}
	{% if error %}
    <div class=" alert margin-bottom-override alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        {{ error }}
    </div>
    {% endif %}
    <div id="scrollable">
		<h1>Album: {{title}}</h1>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#songs" aria-controls="songs" role="tab" data-toggle="tab">Songs</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div id="tab-content" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="songs">
			<p/>
                <ul>
                    {% if songs %}
						{% for song in songs %}
						<li id="{{ song }}"><a class="list-text" href="/song/{{ song }}">{{song}}</a></li>
						{% endfor %}
					{% else %}
					<li>No Songs</li>
					{% endif %}
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/javascript.js"></script>

</html>