<html>

<head>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
		<title>Login</title>
</head>

<body class="body">
    <div class="container">
        <div class="jumbotron">
            <h1>Music Catalogue</h1>
            <p>Sign Up or Sign in!</p>
            <p><a class="btn btn-primary btn-lg" role="button" id="learnMore" href="/about">Learn more</a>
            </p>
        </div>
        <form action="" method="post">
            <div class="input-group width-100">
                <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Username" name="username" value="{{ request.form.username }}">
            </div>

            <div class="input-group width-100">
                <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" name="password" value="{{ request.form.password }}">
            </div>

            <div class="center-wrapper">
                {% if error %}
                <div class=" alert margin-bottom-override alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    {{ error }}
                </div>
                {% endif %}
                <button class="btn btn-default btn btn-primary width-100" type="submit" id="login" value="Login">Login</button>
            </div>
            <p/>
            <p/>
            <p/>
        </form>
        <div class="center-wrapper">
            <a class="btn btn-default btn-sm" href="{{ url_for('signup') }}">Signup</a>
        </div>
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</html>