<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only white-text">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white-text" href="/library/{{ username }}">Music Catalogue</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form action="" class="navbar-form navbar-left" role="search" id="search-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id="searchInput">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="uploadButton" title="Upload File" data-html="true" data-toggle="popover" data-placement="left" data-content='<form action="" method="post" name="form" enctype="multipart/form-data">
					<input type="file" name="datafile" />
					<p/>
					<input class="btn btn-default btn btn-primary width-100" type="submit" name="submit" id="submit"/>
				</form>'>
				Upload</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/{{ username }}">My Account</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/signout">Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>