<html>

<head>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
		<title>Search: {{title}}</title>
</head>

<body class="body">
    {% include 'navbar.html' %}
	{% if error %}
    <div class=" alert margin-bottom-override alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        {{ error }}
    </div>
    {% endif %}
    <div id="scrollable">
		<h1>Search: {{title}}</h1>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#artists" aria-controls="artists" role="tab" data-toggle="tab">Artists</a>
            </li>
            <li role="presentation"><a href="#albums" aria-controls="albums" role="tab" data-toggle="tab">Albums</a>
            </li>
            <li role="presentation"><a href="#songs" aria-controls="songs" role="tab" data-toggle="tab">Songs</a>
            </li>
            <li role="presentation"><a href="#genres" aria-controls="genres" role="tab" data-toggle="tab">Genres</a>
            </li>
            <li role="presentation"><a href="#years" aria-controls="years" role="tab" data-toggle="tab">Year</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div id="tab-content" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="artists">
                <ul>
                    {% if artists %}
						{% for artist in artists %}
						<li id="{{ artist }}"><a href="/artist/{{artist}}">{{artist}}</a></li>
						{% endfor %}
					{% else %}
					<li>No Artists Found</li>
					{% endif %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="albums">
                <ul >
                    {% if albums %}
						{% for album in albums %}
						<li id="{{ album }}"><a href="/album/{{album}}">{{album}}</a></li>
						{% endfor %}
					{% else %}
					<li>No Albums Found</li>
					{% endif %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="songs">
                <ul >
                    {% if songs %}
						{% for song in songs %}
						<li id="{{ song }}"><a href="/song/{{song}}">{{song}}</a></li>
						{% endfor %}
					{% else %}
					<li>No Songs Found</li>
					{% endif %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="genres">
                <ul >
                    {% if genres %}
						{% for genre in genres %}
						<li id="{{ genre }}"><a href="/genre/{{genre}}">{{genre}}</a></li>
						{% endfor %}
					{% else %}
					<li>No Genre</li>
					{% endif %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="years">
                <ul >
                    {% if years %}
						{% for year in years %}
						<li id="{{ year }}"><a href="/year/{{year}}">{{year}}</a></li>
						{% endfor %}
					{% else %}
					<li>No Years</li>
					{% endif %}
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/javascript.js"></script>

</html>