<html>

<head>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
		<title>You're Not Logged In!</title>
</head>

<body class="body">
    <div class="container">
        <div class="jumbotron">
            <h1>You're Not Logged In!</h1>
            <p><a class="btn btn-primary btn-lg" role="button" id="learnMore" href="/login">Login</a>
            </p>
        </div>
    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</html>