<html>
<head>
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Sign up!</title>
</head>
<body class="body">
	<div class="container">
	<div class="jumbotron">
		<h1>Registration</h1>
		<p>Please fill in the below:</p>
		<p><a class="btn btn-primary btn-lg" role="button" id="learnMore" href="/about">Learn more</a></p>
	</div>
	<form action="" method="post">
	<div class="input-group width-100">
	  <input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="basic-addon1">
	</div>

	<div class="input-group width-100">
	  <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" onKeyDown="validatePassword" id="password" name="password">
	</div>
	
	<div class="input-group width-100">
	  <input type="password" class="form-control" placeholder="Confirm Password" onKeyDown="validatePassword" aria-describedby="basic-addon1" id="confirmPassword" name="confirmPassword">
	</div>
	                {% if error %}
                <div class="margin-bottom-override alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    {{ error }}
                </div>
                {% endif %}
		<div>
			<button class="btn btn-default btn btn-primary width-100" type="submit" id="register" value="register">Register</button>
		</div>
	</form>
	<div class="center-wrapper">
            <a class="btn btn-default btn-sm" href="{{ url_for('login') }}">Login</a>
        </div>
	</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</html>