body, html
{
	width:100%;
	height:100%;
}

img
{
	width:140px;
	height:140px;
}

ul
{
	list-style-type: none;
}

a
{
	cursor:pointer;
}

.list-text
{
	font-size:15;
}

.center-wrapper
{
	text-align:center;
}

.error
{
	color:red;
}

.container
{
	width:40%;
	margin: 0 auto;
	margin-top:10%;
}

.margin-bottom-override
{
	margin-bottom:0;
}

.width-100
{
	width:100%;
}

.black_overlay
{
	display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}